@model AppointmentRazor.ViewModels.ErrorSituationPartialViewModel

<div class="flex-column d-flex">
    <h2 class="mb-3 mx-auto">@Model.ErrorText</h2>
    <img class="mx-auto" src="@Url.Content(Model.ImgUrl)" />
</div>
