@page
@model IndexModel
@{
    ViewData["Title"] = Localizer.Text("homePageTitle");
    var routeData = CurentCultureUtils.GetCurrentCultureRouteData();
}

<div class="text-center">
    <h1 class="mb-3">@Localizer.Text("Hello, Patient")</h1>
    <img class="mx-auto img-fluid" src="~/img/doctor.jpg" />
</div>
