@page
@model IndexModel
@{
    ViewData["Title"] = Localizer.Text("homePageTitle");
    var routeData = CurentCultureUtils.GetCurrentCultureRouteData();
}


    <div class="text-center">
        <a class="nav-link" asp-all-route-data="@routeData" asp-area="" asp-page="/Appointments">@Localizer.Text("Appointments")</a>
    </div>
